/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
nav {
	position: fixed;
	overflow: hidden;
	top:0;
	/* background-color: red; */
	width: 100%;
	padding-top: 0;
	margin-top: 0;
	background-color: white;
}

nav div {
	display: inline-block;
	
}

.nav-links {
	width: 70%;
	padding-bottom: 30px;
	/* border:1px solid red; */
	
	
}

.nav-links a {
	
	margin:0 5%;
	font-size: 18px;
	/* background-color: red; */
	color: grey;
	text-decoration: none;
}
.nav-links a:hover {
	color: rgb(59, 54, 54);
	
	
}
.nav-logo {
	display: inline-block;
	width:  20%;
	padding-top: 20px;
	margin-left: 0%;
	
}

.main-content {
	/* border: 5px solid red; */
	margin: 0px 70px;
	padding: 0px 10px;
}


.banner {
border-bottom: 2px solid black;
margin: 15px 0;
padding-top: 50px;
padding-bottom: 15vh;

}

.banner div{
	display:inline-block;
	/* background-color: red; */
	padding: 3% 0;
	
}
.banner-title{
	font-size: 80px;
	width: 20%;
	padding-top: 0vh;
	margin: 0 10%;
	text-align: center;

}
.banner-image{
	margin-left: 15%
	transform: scale(1.3);
}
.banner-image img{
	margin-left: 15%
	
	
}
.banner button {
	display: inline-block;
	width: 30vh;
	height: 5vh;
	background-color: white;
	border: 2px solid grey;

	
}
.banner button:hover {
	background-color: grey;
	color: white;
	border: 2px solid black;
}
.intro-text {
	/* text-align:center; */
	/* border:5px solid blue; */
	width: 100%;
	margin: 5vh 0;
	
}
.intro-text section {
	display: inline-block;
	width: 49%;
	/* S */
	margin: auto;
	text-align: left;
	/* border: 1px solid red; */
}
h3 {
	font-size: 35px;
}

 p {
	font-size: 20px;
	padding-left: 5px;
}

.middle-img {
	width: 100%;
	margin: auto;
}
.middle-img {
	text-align: center;
}

.box-format  {
	display: inline-block;
	width: 30%;
	/* S */
	margin: auto;
	text-align: left;
	/* border: 1px solid red; */
}
.bottom {
	/* text-align: center; */
	margin: auto;
	border-bottom: 2px solid black;
}
.bottom section {

	display: inline-block;
	margin: 8vh 0;
	width: 33%;
	
}
footer {
	margin: 7vh 0;
	line-height: 1.5;
}
section {
	/* padding-left: 2vh;  */
	
}
.copyright {
	text-align: center;
}